@typeparam TItem

<table class="table table-hover">
    <thead>
        <tr>@DataGridHeader</tr>
    </thead>
    <tbody>
    @foreach(TItem item in Items)
    {
        <tr>@DataGridColumn(item)</tr>
    }
    </tbody>
    <tfoot>
        <tr>@DataGridFooter</tr>
    </tfoot>
</table>

@code {

    [Parameter]
    public RenderFragment DataGridHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> DataGridColumn { get; set; }

    [Parameter]
    public RenderFragment DataGridFooter { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }

}