################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorPrototype/.vs/BlazorPrototype/v16
/BlazorPrototype/.vs/BlazorPrototype
