@page "/routing"
@page "/routingOne"
@page "/routingTwo"

<h3>Routing</h3>

<h5>Routing with multiple Urls</h5>
<hr />

<p><text style="color:goldenrod">Should specify the URL at top of the page using</text> <strong><i>"page" directive</i></strong></p>

<p style="color:darkorange">Change the URL from another page to <i>"/routingone" or "/routingtwo"</i>, routing page will be redirected</p>

<a href="/Routeparameter/Show"><button class="btn btn-outline-success">Click Here!!</button></a>

@code {

}
