@page "/DependencyInjection"
@inject ISingletonService singletonService
@inject IScopedService scopedService
@inject ITransientService transientService


<h4>"Blazor" Service Lifetimes</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Singleton Service - @singletonService.ServiceId</li>
            <li>Scoped Service - @scopedService.ServiceId</li>
            <li>Transient Service - @transientService.ServiceId</li>
        </ul>
    </div>
</div>
<hr />
<a href="/DependencyInjectiontwo">Navigate to another page of DI</a>

