@page "/"

<div class="widgetcontent">
    <div class="widget">
        <WidgetMandS FullPage=false/>
    </div>
    <div class="widget">
        <WidgetHindu/>
    </div>

    <div class="widget">
        <WidgetTOM/>
    </div>
    <div class="widget">
        <WidgetBBC/>
    </div>
</div>

@code{
}