<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Employee Details</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> News feed
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/WidgetMandS/true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> M&S Web site
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Life Cycle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/formvalidation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form Validation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dependencyinjection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/routing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Routing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/jsinterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JS Interop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/listemployees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee Management
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/CustomLayout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CustomLayout
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            @*<NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>*@
        </AuthorizeView>

    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}